#root {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  padding: 1rem;
}

.user-image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.repository-content {
  max-height: 500px;
  overflow-y: scroll;
}

.repo-card {
  cursor: pointer;
}
